.text-centrr{
  margin-left: 10%;
  margin-right: 50%;
}

.up{
  margin-top: -10%;
}



.round {
    border-radius: 100px; /* Радиус скругления */
    box-shadow: 0 0 0 3px black, 0 0 13px #333; /* Параметры теней */
    max-width: 25px;
    max-height: 250px;
}
a {
    text-decoration: none; /* Убираем подчёркивание */
   }

.banner-prf {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(83, 83, 83, 0.3),rgba(0,0,0,0.75)), url('../images/flower-copy.jpg');
    background-size: cover;
    background-position: center-top;
  }


.badge{
    color: red;
}
.badge-g{
    color: green;
}

.badge-w{
    color: gray;
}

.btn-prf {
    color: #ffffff;
    padding: 15px 32px;
    font-size: 14px;
    text-align: center;  
    text-transform: uppercase;
    border-radius: 8px;
    font-weight: 400;
    display: block;
    width: 25%;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: transparent;
    margin: 0 auto;
    
  }
.btn-prf:hover {
    background-color: rgba(255, 255, 255, 0.12);
}



.btn-prf-up {
    color: #000000;
    padding: 15px 32px;
    font-size: 14px;
    text-align: center;  
    text-transform: uppercase;
    border-radius: 8px;
    font-weight: 400;
    display: block;
    width: 25%;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: transparent;
    margin: 0 auto;
    
  }
.btn-prf-up:hover {
    background-color: rgba(255, 255, 255, 0.12);
}

.btn-d {
  color: #000000;
  padding: 15px 32px;
  font-size: 14px;
  text-align: center;  
  text-transform: uppercase;
  border-radius: 8px;
  font-weight: 400;
  display: block;
  width: 25%;
  background-color: rgba(255, 0, 0, 0.2);
  cursor: pointer;
  border: 1px solid rgba(255, 0, 0, 0.2);
  margin: 0 auto;
  
}

.btn-e {
  color: #000000;
  padding: 15px 32px;
  font-size: 14px;
  text-align: center;  
  text-transform: uppercase;
  border-radius: 8px;
  font-weight: 400;
  display: block;
  width: 25%;
  background-color: rgba(0, 250, 21, 0.2);
  cursor: pointer;
  border: 1px solid rgba(0, 250, 21, 0.2);
  margin: 0 auto;
  
}






.popup{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 1000px;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);

}

.close{
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    margin-left: auto;
}

.close:hover,
.close:focus{
    color:black;
    text-decoration: none;
    cursor: pointer;
}

.popup-header{
    background-color: #ffb347;
    color: black;
    display: flex;
    padding: 2px 16px;
    

}
.popup-body{
    background-image: linear-gradient(180deg, #ffb2476c 0%, rgba(51, 51, 51, 0.397) 100%), url('../images/bbbb.jpg');
    width: 100%;
    height: 100%;
    color: black;
    background-size: cover;
}



.popup-content{
    position: relative;
    background: white;
    color: black;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 99%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) ;
    animation-name: animatetop;
    animation-duration: 0.4s;
}


.box1{
    margin-left: auto;
    margin-right: auto;
    margin-top: 7%;
    display: block;
    width: 40%;
    text-align: center;
}

.big-size{
    font-size: 25px;
    font-family: 'Rubik Distressed', cursive;

}






.inp {
    z-index: 1;
    padding: 0.8rem 1rem;
    font-family: 'Raleway', sans-serif;
    width: 60%; /* THE WIDTH (%) */
    font-size: 18px;
    font-weight: 80;
    color: rgb(255, 255, 255);
    border: none;
    outline: none;
    border-radius: 3px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, .3);
    -webkit-transition: color 0.3s, background 0.3s;
    transition: color .5s, background 0.3s;
    background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.15)), to(rgba(255, 255, 255, 0.1)));
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.1));
  } input::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.6);
  } input:-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.6);
  } input::-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.6);
  } input::placeholder {
    color: rgba(255, 255, 255, 0.6);
  } input:focus {
    color: white;
    background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.25)), to(rgba(0, 0, 0, 0.2)));
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.2));
  } input:focus::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.6);
  } input:focus:-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.6);
  } input:focus::-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.6);
  } input:focus::placeholder {
    color: rgba(255, 255, 255, 0.3);
  }



.inp-txt {
    z-index: 1;
    padding: 0.8rem 1rem;
    font-family: 'Poor Story', cursive;
    width: 60%; /* THE WIDTH (%) */
    font-size: 18px;
    font-weight: 80;
    color: #333;
    border: none;
    outline: none;
    border-radius: 3px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, .3);
    -webkit-transition: color 0.3s, background 0.3s;
    transition: color .5s, background 0.3s;
    background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.15)), to(rgba(255, 255, 255, 0.1)));
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.1));
  } input::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.6);
  } input:-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.6);
  } input::-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.6);
  } input::placeholder {
    color: rgba(255, 255, 255, 0.6);
  } input:focus {
    color: white;
    background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.25)), to(rgba(0, 0, 0, 0.2)));
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.2));
  } input:focus::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.6);
  } input:focus:-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.6);
  } input:focus::-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.6);
  } input:focus::placeholder {
    color: rgba(255, 255, 255, 0.3);
  }



.down{
  margin-top: 10%;
}