/* category */
/* blog listing */
.blog-meta {
  margin-bottom: 10px;
}
.blog-meta > span {
  margin-right: 15px;
  padding-right: 10px;
  color: #000000;
  position: relative;
  text-transform: capitalize;
  margin-bottom: 10px;
  display: inline-block;
}
.blog-meta .fa {
  padding-right: 2px;
  padding-left: 2px;
}
.blog-item .blog-meta .date .blog-day {
  font-size: 26px;
  line-height: 26px;
  font-weight: 600;
  letter-spacing: 0.5px;
	color: #fff;
	border-bottom: 1px solid #fff;
}
.blog-item .blog-meta .date .blog-month-year {
  font-size: 11px;
  color: #fff;
  display: inline-block;
  margin-top: 10px;
}
.blog-meta > span:last-child {
  border: none;
  margin-right: 0px;
}
.blog-meta > span:last-child:before {
  display: none;
}
.homeblog-wrapper {
	margin:0 -15px;
}
.homeblog-latest .blog-details .blog-desc {
  font-size: 12px;
  letter-spacing: .7px;
  font-weight: 400;
  color: #888888;
}
.homeblog-inner {
  float: left;
  width: 100%;
	position: relative;
}
.homeblog-inner li.blog-post {
	padding: 15px 15px;
}
.blog-item {
  position: relative;
}
.blog-item .blog-created {
  color: #0d0085;
  text-transform: capitalize;
  position: relative;
  font-weight: 500;
}
.blog-item span.blog-hit {
  position: relative;
  color: #0d0085;
  padding-left: 5px;
}
.blog-item .blog-created .fa {
  padding-right: 6px;
  display: none;
}
#blog-carousel .blog-description {
  padding: 97px 50px;
}
.blog-item .blog-content-wrap {
  padding: 20px 20px;
  width: auto;
  text-align: left;
  clear: both;
  border: 1px solid #eaeaea;color: #0d0085;
  text-transform: initial;
  position: relative;
  font-weight: 500;
}
.blog-item .title {
  font-weight: 500;
  text-transform: initial;
  line-height: 26px;
  font-size: 16px;
  padding-top: 4px;
  padding-bottom: 2px;
  clear: both;
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  color: #222222;
}
.blog-item .title:hover {
  color: #0d0085;
}
#blog-carousel .blog-description .blog-shortinfo {
  font-size: 12px;
  letter-spacing: .8px;
  font-weight: 400;
  color: #808080;
  line-height: 24px;
}
.blog-item .title a { color: #222222; }
.blog-item .title a:hover {
  color: #0d0085;
}
.blog-item .title:hover a {
	color: #0d0085;
}
.Recnet-blog .secondary-blog { margin: 0 -15px; }
.blog-image-meta { position:relative; margin: 0px; overflow: hidden; }
.homeblog-latest .blog-item .blog-meta .blog-created, 
.secondary-blog .blog-item .blog-meta .blog-created,
.homeblog-latest .blog-item .blog-meta .blog-author, 
.secondary-blog .blog-item .blog-meta .blog-author {
  font-size: 13px;
  letter-spacing: 0.6px;
  color: #0d0085;
  font-weight: 400;
  margin-right: 0px;
  margin-bottom: 0;
  float: left;
  padding: 0;
}
.homeblog-latest .blog-item .blog-image:after, 
.secondary-blog .blog-item .blog-image:after {
  content: "";
  height: 0px;
  bottom: 0px;
  position: absolute;
  right: 0;
  width: 100%;
  opacity: 1;
  filter: alpha(opacity=100);
  background: hsl(0deg 0% 100% / 26%);
}
.homeblog-latest .blog-item:hover .blog-image:after, 
.secondary-blog .blog-item:hover .blog-image:after {
  height: 100%;
  width: 100%;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition-duration: 1.5s;
  transition-duration: 1.5s;
}
.homeblog-latest .blog-item .blog-meta .blog-author, 
.secondary-blog .blog-item .blog-meta .blog-author {
  margin-left: 10px;
  display: none;
}
.homeblog-latest .blog-item .blog-meta .blog-created, 
.secondary-blog .blog-item .blog-meta .blog-created {
  margin-bottom: 8px;
  font-size: 13px;
  font-weight: 400;
  color: #0d0085;
  letter-spacing: .6px;
  text-transform: capitalize;
  width: auto;
  position: relative;
  float: left;
  background: #ffffff;
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
.homeblog-latest .blog-item .blog-meta .blog-created .fa, 
.secondary-blog .blog-item .blog-meta .blog-created .fa {
  font-size: 0;
  padding: 0;
  display: none;
}
.homeblog-latest .blog-item .blog-meta .blog-author a, 
.secondary-blog .blog-item .blog-meta .blog-author a {
  color: #0d0085;
}
.homeblog-latest .blog-item .blog-meta .blog-hit,
.secondary-blog .blog-item .blog-meta .blog-hit {
  font-size: 12px;
  letter-spacing: .2px;
  color: #999999;
  font-weight: 400;
  padding: 0 22px;
  font-family: 'Roboto', sans-serif;
  position: relative;
	margin-bottom: 0;
}
.homeblog-latest .blog-item .blog-meta .blog-hit:after, 
.secondary-blog .blog-item .blog-meta .blog-hit:after {
  content: "|";
  left: 10px;
  right: auto;
  position: absolute;
  top: -1px;
	color: #999999;
}
.homeblog-latest .blog-item:hover .blog-meta .blog-hit, 
.secondary-blog .blog-item:hover .blog-meta .blog-hit {
  color:#0d0085;
}
.homeblog-latest .blog-item .blog-meta,
.secondary-blog .blog-item .blog-meta {
  text-transform: uppercase;
  margin: 0px;
  padding: 0 0px;
  color: #000;
  display: block;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  line-height: 16px;
}
.blog-post .blog-item:hover .blog-meta,
.secondary-blog .blog-item:hover .blog-meta {
	opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
.homeblog-latest .blog-item .blog-meta span.blog-cat,
.secondary-blog .blog-item .blog-meta .blog-cat {
  margin-right: 0;
  padding-right: 0;
  padding-left: 18px;
  margin-bottom: 8px;
}
.homeblog-latest .blog-item .blog-meta span.blog-cat:after,
.secondary-blog .blog-item .blog-meta .blog-cat:after {
  content: "";
  position: absolute;
  height: 12px;
  border-right: 1px solid #0d0085;
  left: 8px;
  top: 2px;
  transform: rotate(22deg);
}
.homeblog-latest .blog-item .blog-meta span.blog-cat a,
.secondary-blog .blog-item .blog-meta .blog-cat a {
  color: #0d0085;
}
.homeblog-latest .blog-item .blog-meta span.blog-cat a:hover, 
.secondary-blog .blog-item .blog-meta .blog-cat a:hover {
  color: #000000;
}
.blog-post .blog-item .title:hover a { color: #0d0085; }
.blog-item .readmore {
	padding: 0px 0 5px 0;
}
.blog-item .readmore .btn { 
  padding: 0px;
  text-transform: uppercase;
  color: #333e58;
  display: inherit;
  text-align: left;
  font-weight: 500;
  font-size: 15px;
  margin-top: 10px;
}
.blog-item .readmore .btn:hover { color: #0d0085; }
.blog-item .blog-content-wrap .readmore p {
  margin-bottom: 0;
  margin-top: 10px;
}
.blog-item .blog-content-wrap .readmore p .btn {
  border: 1px solid #e5e5e5;
  text-transform: capitalize;
}
.blog-item .blog-content-wrap .readmore p .btn:hover {
  border-color: #0d0085;
}
.blog-item .blog-content-wrap .blog-shortinfo {
  color: #666666;
  margin-top: 2px;
  line-height: 22px;
  font-weight: 400;
}
.blog-item .blog-content-wrap .blog-shortinfo .readmore {
	color: #000000;
  text-transform: capitalize;
}
.homeblog-latest .blog-item .readmore a:after {
  font-family: FontAwesome;
  font-size: 16px;
  content: "\f101";
  height: 15px;
  width: 20px;
  cursor: pointer;
  display: inline-block;
  padding-left: 7px;
}
.blog-item .blog-content-wrap .blog-shortinfo .more {
  height: 0;
  padding: 0;
}
.blog-item .blog-content-wrap .blog-shortinfo .more i {
  color: #888;
}
.blog-item .blog-content-wrap .blog-shortinfo .more i:hover {
  color: #222;
}
.blog-item .blog-image {
  overflow: hidden;
	padding: 0;
  margin-bottom: 0;
  position: relative;
}
.blog-detail {
  margin-bottom: 70px;
}
.blog-detail > div {
  margin-bottom: 30px;
}
.blog-detail .blog-image {
  padding-bottom: 30px;
  margin-bottom: 0;
}
.blog-detail .blog-title {
  font-size: 22px;
  text-transform: capitalize;
  color: #222;
  font-weight: bold;
  margin-bottom: 20px;
}
.blog-detail .blog-description {
  text-align: justify;
  margin-bottom: 60px;
}
.blog-detail .social-share {
  float: left;
}
.blog-detail a {
  color: #555555;
}
.blog-detail a:hover {
  color: #0d0085;
}
.social-share .itemTwitterButton {
	width: 70px !important;
	margin-left: 0px;
}
.social-share .itemTwitterButton,
.social-share .itemFacebookButton,
.social-share .itemGooglePlusOneButton {
	margin-bottom: 5px;
  display: inline-block;
  width: 54px;
  overflow: hidden;
  font-size: 0;
	margin-right: 6px;
}
.blog-detail .extra-blogs {
  display: inline-block;
  width: 100%;
}
.blog-detail .extra-blogs h4 {
	margin-bottom:15px;
	font-weight: 500;
	color: #000000;
  font-size: 17px;
}
.blog-detail .extra-blogs ul {
	padding-left: 25px;
}
.blog-detail .extra-blogs ul li {
	list-style: disc;
	padding: 5px 0px;
}
.blog-detail .blog-tags {
  /*display: inline-block;*/
  float: right;
}
.blog-detail .blog-tags a { color: #666666; padding-right: 5px;  }
.blog-detail .blog-tags a:hover { color:#0d0085; }
.social-heading { margin-bottom: 10px; }
.social-heading b,
.blog-detail .blog-tags > span {
  font-size: 17px;
  margin-right: 15px;
  margin-bottom: 15px;
  font-weight: 500;
  color: #000000;
}
.blog-detail .blog-comment-block #blog-localengine .comment-item {
  padding: 30px;
  margin-bottom: 30px;
  border: 1px solid #e5e5e5;
}
.blog-detail .blog-comment-block #blog-localengine .comment-item .comment-wrap {
  margin-left: 80px;
}
.blog-detail .blog-comment-block #blog-localengine .comment-item .comment-wrap .comment-meta {
  color: #222;
  font-weight: bold;
  margin-bottom: 10px;
}
.blog-detail .blog-comment-block #blog-localengine .comment-item .comment-wrap .comment-meta > span {
  margin-right: 15px;
}
.blog-detail .blog-comment-block #blog-localengine .comment-item .comment-wrap .comment-meta > span span {
  color: #888;
  margin-left: 10px;
  font-weight: normal;
}
.blog-detail .blog-comment-block #blog-localengine .form-group {
  margin-bottom: 20px;
}
.blog-detail .blog-comment-block .btn-send {
  padding: 0 15px;
  height: 40px;
  line-height: 40px;
  min-width: 110px;
  text-align: center;
  color: #fff;
  background-color: #eee;
  font-weight: 600;
  float: right;
}
.blog-detail .blog-comment-block .btn-send i {
  margin-right: 10px;
  font-weight: 800;
}
.blog-detail .blog-comment-block .btn-send:hover {
  background-color: #222;
}
.blog-comment-block h3 {
	margin-bottom: 15px;
  font-weight: 500;
  color: #000000;
  font-size: 17px;
}
.blog-comment-block #comment-form{ margin-top: 30px; }
.comment-capcha-image{ margin-bottom: 10px; }
h1.blog-heading {
	font-size: 20px;
  color: #000;
  text-transform: capitalize;
  margin-bottom: 20px;
  font-weight: 600;
}
.ps-carousel { display: none; margin: 0; }
#blog-category { margin-bottom: 30px; }
.subcategories-title { margin-bottom: 30px; }
.secondary-blog .flexRow { 
	clear: both;
  float: left;
}
.Recnet-blog .pagination {
	border-top: 0;
  padding: 0;
}
#blog-listing .pagination li,
.Recnet-blog .pagination li { 
	background: #FFFFFF;
  /*display: inline-block;*/
  float: left;
  margin: 0 0 0 4px;
  padding: 0px;
}
.pagination li > span {
  height: 35px;
  margin: 0;
  padding: 4px 13px;
  width: 35px;
  color: #ffffff;
  background: #000000;
  display: block;
  font-weight: 600;
  border: 1px solid #000000;
}
.pagination li:hover > span,
.pagination li.current > span {
  border-color: #0d0085;
  background-color: #0d0085;
  color: #ffffff;
  text-decoration: none;
}
.pagination .disabled span.previous, 
.pagination .disabled span.next {
  border-color: #0d0085;
  background-color: #0d0085;
  color: #ffffff;
}
.ps_sortPagiBar { clear: both; }
.bottom-line { padding-top: 15px; padding-bottom: 15px; }
.bottom-line .pagination { width: auto; float: left; margin: 0px; border: 0; padding: 0; }
.blog-image .blogicons {
	bottom: 0;
  height: 42px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  top: 0px;
  width: 85px;
  z-index: 2;
  opacity: 0;
  filter: alpha(opacity=0);
}
.blog-post .blog-item:hover .blog-image .blogicons,
.secondary-blog .blog-item:hover .blog-image .blogicons,
.leading-blog  .blog-item:hover .blog-image .blogicons {
	opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.blog-image .blogicons a {
	width: auto;
	height: auto;
	display: inline-block;
	float: none;
}
.blog-image .blogicons .icon:before {
	font-family: "FontAwesome";
  border: 2px solid #ffffff;
  background-color: transparent;
  color: #ffffff;
  font-size: 14px;
  height: 40px;
  margin: auto;
  padding: 11px;
  position: absolute;
  text-align: center;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  top: 0;
  width: 40px;
  line-height: 12px;
}
.blog-image .blogicons .icon:hover:before {
	-webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  border-color: #0d0085;
  background: #0d0085;
  color: #ffffff;
}
.blog-image .blogicons .icon.zoom:before {
  content: "\f002";
	left: 0px;
}
.blog-image .blogicons .icon.readmore_link:before {	
  content: "\f0c1";
	right: 0px;
}
.blog-item .blog-image .post-image-hover {
  height: 100%;
  left: 0;
  top: 0px;
  position: absolute;
  -webkit-transition: all 400ms ease 0s;
  transition: all 400ms ease 0s;
  width: 100%;
}
.blog-post .blog-item:hover .blog-image .post-image-hover,
.secondary-blog .blog-item:hover .blog-image .post-image-hover,
.leading-blog .blog-item:hover .blog-image .post-image-hover {    
	background: rgba(0, 0, 0, 0.4);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.blog-item .blog-image img {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.blog-item:hover .blog-image img {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.leading-blog  .blog-meta{ margin-bottom: 0px; }
.homeblog-latest { 
  float: left;
  width: 100%;
  clear: both;
  margin: 40px 0px 40px;
  position: relative;
}
.homeblog-latest:hover .customNavigation {
  opacity: 1;
  filter: alpha(opacity=100);
}
.Recnet-blog .secondary-blog article.blog-item {
  margin-bottom: 30px;
}
.secondary-blog article.blog-item {
  margin-bottom: 30px;
}
.category-title {
  padding: 20px 0 7px;
  text-transform: capitalize;
  font-weight: 500;
}
.category-title a {
  color: #222222;
  font-size: 16px;
}
.category-title a:hover {
	color: #0d0085;
}
#blogpage .blog-detail h1.blog-title {
  margin-bottom: 20px;
}
#blogpage .blog-detail .blog-title,
.category-info h1,
.Recent-title.h3,
.subcategories-title {
  font-size: 19px;
  line-height: 26px;
  font-weight: 500;
  padding: 0 0;
  margin: 5px 0 20px;
  color: #222222;
  text-transform: initial;
}
#blogpage .blog-detail .blog-image {
	padding-bottom:0px;
}
#blogpage .blog-detail .blog-image-meta {
  position: relative;
  margin: 0 0 25px;
}
#blogpage .blog-detail .blog-meta {
	position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.41);
  margin-bottom: 0;
	padding: 10px 20px 0;
  line-height: 32px;
	color: #fff;
	width: 100%;
}
#blogpage .blog-detail .blog-meta a:hover {
	text-decoration: underline;
}
#blogpage .blog-detail .blog-meta a,
#blogpage .blog-detail .blog-meta > span span,
#blogpage .blog-detail .blog-meta > span {
	border: 0px;
	color: #fff;
}
#blog-listing h1 {
  color: #222222;
  margin-bottom: 20px;
  margin-top: 5px;
  font-size: 19px;
  text-transform: initial;
  font-weight: 500;
}
#blog-listing h1.blog-heading {
  text-transform: uppercase;
}
#categories_blog_menu ul li { line-height: 30px; }

.leading-blog, .secondary-blog { margin: 0 -15px; }

@media (min-width: 992px) {
  .secondary-blog .col-lg-6 {
    display: inline-block;
    vertical-align: top;
    float: none;
    width: 49.5%;
  }
}
@media (max-width: 991px) {
  .homeblog-latest {
    margin-top: 20px;
    margin-bottom: 25px;
  }
	#blog-carousel .blog-description {
		padding: 60px 0;
	}
	.category-info h1 {
		margin-top: 15px;
	}
	.homeblog-latest .blog-details {
		padding-top: 50px;
  }
  .blog-item .blog-content-wrap {
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
  }
}
@media (max-width:767px){
	.homeblog-latest .blog-details {
		width: 100%;
    padding-top: 20px;
		float: none;
	}
}
@media (max-width: 680px) {
	#blog-carousel .blog-description {
		padding: 20px 0;
	}
	#blog-carousel .blog-description {
		padding:10px 0 20px;
	}
}
@media (max-width: 480px) {
	.homeblog-latest .blog-item .blog-meta .blog-author, .secondary-blog .blog-item .blog-meta .blog-author,
	.homeblog-latest .blog-item .blog-meta .blog-created, .secondary-blog .blog-item .blog-meta .blog-created {
		font-size: 12px;
	}
	.blog-item .title {
		font-size: 15px;
	}
	.homeblog-latest .blog-item .blog-meta .blog-hit, .secondary-blog .blog-item .blog-meta .blog-hit {
		margin: 0;
	}
}