{%load static%}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="x-ua-compatible" content="ie=edge">
      <title>{%block title%}Logis Cargo - {% trans "Store of the future" %}{%endblock title%}</title>
      <meta name="description" content="Shop powered by PrestaShop">
      <meta name="keywords" content>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- Codezeel added -->
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
      <link href="//fonts.googleapis.com/css?family=Heebo:100,200,300,400,500,600,700,800,900" rel="stylesheet">
      <link href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
      <link rel="preconnect" href="https://fonts.googleapis.com"> 
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
      <link href="https://fonts.googleapis.com/css2?family=Poor+Story&family=Radio+Canada&family=Roboto:wght@100&family=Rubik&family=Rubik+Distressed&family=Square+Peg&family=Syne+Mono&display=swap" rel="stylesheet">
      <style>
         @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
      </style>
      <link rel="stylesheet" href="{%static 'css/base.css'%}" />
      {%block link%} {%endblock link%}
   </head>
   <body id="index" class="lang-en country-de currency-eur layout-full-width page-index tax-display-enabled">
               {%block maincontent%}
               <header>
                  {%block baner%}
                  <div class="banner" id="banner">
                  {%endblock baner%}
                     <div class="navbar">
                              {%block logo%}<a href="{%url 'base'%}">{%endblock logo%}
                              <img  src="{%static 'images/demo-store-logo-1626677799.png'%}" alt="Logis Cargo - Furniture Store">
                              </a>  
                              {%block forms%}<form class="ser" action="{%url 'all_product'%}">{%endblock forms%}
                                 <input class="serin" type="search" name="search">
                                 <button class="nonbutton" type="submit"></button>
                                 <button class="fa fa-search" type="submit"></button>
                                 </form>
                                             
                        <ul>
                           {%block all%} <li><a href="{%url 'all_product'%}">{% trans "All product" %}</a></li>{%endblock all%}
                           <div class="dropdown">
                              
                              
                                 <form action="{% url 'set_language' %}" method="post">{% csrf_token %}
                                    <input name="next" type="hidden" value="{{ redirect_to }}">
                                    <select name="language">
                                        {% get_current_language as LANGUAGE_CODE %}
                                        {% get_available_languages as LANGUAGES %}
                                        {% get_language_info_list for LANGUAGES as languages %}
                                        {% for language in languages %}
                                            <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %}
                                                    selected{% endif %}>
                                                {{ language.name_local }} ({{ language.code }})
                                            </option>
                                        {% endfor %}
                                    </select>
                                    <input type="submit" value="Go">
                                </form>
                              
                            </div>
                           <li>{%block product%}<a href="{%url 'legal'%}">{% trans "Legal services" %}</a>{%endblock product%}</li>
                           {% if user.is_authenticated %}
                              <li><a href="{%url 'profile_detail' request.user.id%}">{% trans "Name:" %} {{ request.user }} </a></li>
                              <li><a href="{%url 'logout'%}">{% trans "Logout" %}</a></li>
                           {%else%}
                              <li><a href="{%url 'login'%}">{% trans "Sign in" %} </a></li>
                              <li><a href="{%url 'reg'%}">{% trans "Register" %}</a></li>                  
                           {%endif%}
                           
                        </ul>
                        
                     </div>
                     <div class="content">
                        {%block header%}
                        <h1>Logis Cargo</h1>
                        <br>
                        <p>{% trans "The best legal services and wholesale prices for goods" %}</p>
                        {%endblock header%}
                     </div>
                  </div>
               </header>
               {%block content%}
            <div class="container">
               <div class="card">
                  <div class="face face1">
                     <div class="content">
                           <img src="https://github.com/Jhonierpc/WebDevelopment/blob/master/CSS%20Card%20Hover%20Effects/img/design_128.png?raw=true">
                           <h3>{% trans "Design" %}</h3>
                     </div>
                  </div>
                  <div class="face face2">
                     <div class="content">
                           <p class="bb">{% trans "The site is made for your convenience and ease" %}.</p>
                              
                     </div>
                  </div>
               </div>
               <div class="card">
                  <div class="face face1">
                     <div class="content">
                        <img src="https://github.com/Jhonierpc/WebDevelopment/blob/master/CSS%20Card%20Hover%20Effects/img/code_128.png?raw=true">
                        <h3>{% trans "Recommendations" %}</h3>
                     </div>
                  </div>
                  <div class="face face2">
                     <div class="content">
                           <p class="bb">{% trans "The site is designed so that we select the best products for you." %}</p>
                              
                     </div>
                  </div>
               </div>
               <div class="card">
                  <div class="face face1">
                     <div class="content">
                           <img src="https://github.com/Jhonierpc/WebDevelopment/blob/master/CSS%20Card%20Hover%20Effects/img/launch_128.png?raw=true">
                           <h3>{% trans "Launch" %}</h3>
                     </div>
                  </div>
                  <div class="face face2">
                     <div class="content">
                           <p class="bb">{% trans "The fastest work of administrators and employees." %}</p>
                           
                     </div>
                  </div>
               </div>
            </div> 
               <div class="container">
                  <h1 class="avatar-text centre-text">{% trans "Latest arrivals" %}</h1>
               </div>
                  
               {%for p in prod%}
                  <div class="card-p">
                     <img class ="img-p" src="{{p.picture.url}}" alt="Avatar" >
                     <div class="container-p">
                        <h2 class="bff">{{p.title}}</h2> 
                        <br>
                        
                        <p class ="ownf">{% trans "Owner:" %} {{p.owner}} </p> 
                        <br>
                        <p class ="ownf">{% trans "Price:" %} {{p.price}} € {% trans "per item" %}</p> 
                        <br>
                        <p>{{p.created_date}} </p> 
                        <br>
                        <a href="{%url 'detail' p.slug%}"><button class="btn ">{% trans "Read More" %}</button></a>
                        <br>
                     </div>
               </div>
               {%endfor%}




               {%endblock content%}
               {%endblock maincontent%}
               {%block footer%}
            <footer>
               <div class="footer" id="footer">
                  <div>
                     <p><a href="https://www.facebook.com/golovko.oxana.9"
                              target="_blank">{% trans "Director" %}</a></p>
                     <p><a href="#banner">{% trans "Go to Top" %}</a></p>
                  </div>
                  <div>
                     <p><a href="https://github.com/vovast123" target="_blank">{% trans "Site created By" %} Vova Starenko</a></p>
                  </div>
                  
               </div>
            </footer>
            {%endblock footer%}

               {%block script%} {%endblock script%}
               
   </body>
</html>