{%extends 'base.html'%}
{%load static%}
{% load i18n %}
{%block title%}
    {{cat.category}} ({{cat.title}})
{%endblock title%}




{%block link%} 

<link rel="stylesheet" href="{%static 'css/profile.css'%}" />
<link rel="stylesheet" href="{%static 'css/detail.css'%}" />


{%endblock link%}


{%block header%}
        <h1>Products</h1>
        <br>
        <p>{% trans "Еhe best legal services and wholesale prices for goods" %}</p>
{%endblock header%}
{%block content%}


<div class="centre-text">
    <div class="card-p">
        <div class="container-p">
            <a href="{%url 'category' cat.slug%}"><button class="btn ">{{cat.category}} ({{cat.title}})</button></a>
        </div>
    </div>
</div> 


<div class="container">
    <h1 class="avatar-text centre-text">{% trans "Latest arrivals" %}</h1>
 </div>
 
 {%for p in page_obj%}
 <div class="card-p">
    <img class ="img-p" src="{{p.picture.url}}" alt="Avatar" >
    <div class="container-p">
       <h2 class="bff">{{p.title}}</h2> 
       <br>
       
       <p class ="ownf">{% trans "Owner:" %} {{p.owner}} </p> 
       <br>
       <p class ="ownf">{% trans "Price:" %} {{p.price}} € {% trans "per item" %}</p> 
       <br>
       <p>{{p.created_date}} </p> 
       <br>
       <a href="{%url 'detail' p.slug%}"><button class="btn ">{% trans "Read More" %}</button></a>
       <br>
    </div>
</div>
 {%endfor%}

{%if page_obj.has_other_pages%}
<div class="centre-text">
    <div class="pagination">
        {%if page_obj.has_previous%}
        <a class="pa" href="?page={{page_obj.previous_page_number}}">«</a>
        {%endif%}
        {%for p in page_obj.paginator.page_range%}


        {%if page_obj.number == p%}
        <a class="pa active" href="?page={{p}}" >{{p}}</a>
        {%elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2  %}
        <a class="pa" href="?page={{p}}" >{{p}}</a>
        {%endif%}
        {%endfor%}
        {%if page_obj.has_next%}
        <a class="pa" href="?page={{page_obj.next_page_number}}">»</a>
        {%endif%}
    </div>

</div>
{%endif%}




{%endblock content%}

{%block script%}

{%endblock script%}
