{%extends 'base.html'%}
{%load static%}
{% load i18n %}
{%block title%}
    {% trans "Code" %}
{%endblock title%}


{%block link%} 

<link rel="stylesheet" href="{%static 'css/profile.css'%}" />

{%endblock link%}

{%block header%}
<form action="{%url 'code' user.id%}" method="POST"  >
	{%csrf_token%}
	
		<h1 class="avatar-text ">{% trans "Code" %}</h1>
		<br>
		<div class="group">      
			{{form.code}}
		  </div>
		<br>
	

		<br>
		<button class="btn-prf-up"  type="submit" name="POST">{% trans "Enter" %}</button>

</form>
{%endblock header%}
{%block content%}






{%endblock content%}


{%block script%}

{%endblock script%}


