{%extends 'base.html'%}
{%load static%}
{% load i18n %}
{%block title%}
    {% trans "Edit legal service" %}
{%endblock title%}


{%block link%} 

<link rel="stylesheet" href="{%static 'css/profile.css'%}" />
<link rel="stylesheet" href="{%static 'css/product.css'%}" />

{%endblock link%}
{%block baner%}
<div class="banner-2" id="banner">
{%endblock baner%}
{%block forms%}<form class="ser" action="{%url 'all_product_lg'%}">{%endblock forms%}
{%block header%}
<div class="">
    <form action="{%url 'edit_lg' prod.slug%}" method="POST" enctype="multipart/form-data" >
        {%csrf_token%}
        
        <h5 class="avatar-text mb-2">{% trans "Image" %}</h5>
        {{form.picture}}
        
        
        <h5 class="avatar-text-2 mb-2">{% trans "Category" %}</h5>
        <br>
        
            <div class="dropdown dropdown-dark">
                {{form.category_sub}}
            </div>
        
            
        <h5 class="avatar-text-2">{% trans "Title" %}</h5>
        
        {{form.title}}
        <br>
        <h5 class="avatar-text-2">{% trans "Phone" %}</h5>
        
        {{form.phone}}
        
        <h5 class="avatar-text-2">{% trans "Description" %}</h5>
        
        {{form.description}}
        
        <h5 class="avatar-text-2">{% trans "If you need more description" %}</h5>
        
        {{form.description_add}}

        <h5 class="avatar-text-2">{% trans "Contact information" %}</h5>
            {{form.contact}}
        
        <h5 class="avatar-text-2">{% trans "price" %}</h5>
        
        {{form.price}}
        <br>
        
        <br>
        <button class="btn-prf-up w" type="submit" >{% trans "Edit legal service" %} </button>
        <h3 class="avatar-text-2 mb-2"><span class="badge">{{form.errors}}</span></h3>
    </form>
</div>
{%endblock header%}
{%block content%}






{%endblock content%}

{%block script%}

{%endblock script%}
