{%extends 'base.html'%}
{%load static%}
{% load i18n %}
{%load crispy_forms_tags%}
{%block title%}
    {% trans "Register - Login" %}
{%endblock title%}


{%block link%} 
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{%static 'css/reg_log.css'%}" />
{%endblock link%}





{%block maincontent%}

{%block content%}

<div class="container">
	<header>
		<h1>
			<a href="{%url 'base'%}">
				<img src="{%static 'images/demo-store-logo-1626677799.png'%}" alt="Logis Cargo">
			</a>
		</h1>
	</header>
	<h1 class="text-center">Register</h1>
	{% for message in messages %}
	<div class="ui {{message.tags}} message">
   	 	{{message}}
	</div>
	{% endfor %}
	<form class="registration-form" method="POST" enctype="multipart/form-data">
        {%csrf_token%}
		<label>
			<span class="label-text">{% trans "Image" %}</span>
			{{form2.picture}}
		</label>
		<label>
			<span class="label-text">{% trans "Nickname(must be unique)" %}</span>
			{{form.username}}
		</label>
		<label>
			<span class="label-text">{% trans "First name and Last name" %}</span>
			{{form.last_name}}
		</label>
		<label>
			<span class="label-text">{% trans "Password" %}</span>
			{{form.password1}}
		</label>
		<label>
			<span class="label-text">{% trans "Сonfirm password" %}</span>
			{{form.password2}}
		</label>
		<div class="text-center">
			<button class="submit"  type="submit" name="register">{% trans "Register" %}</button>
		</div>
	</form>
	<br>
	<br>

	<span class="label-text"><a href="{%url 'login'%}"><button class="custom-btn btn-2">{% trans "Sign in" %}</button></a></span>
</div>


{%endblock content%}

{%endblock maincontent%}
{%block footer%}

{%endblock footer%}
{%block script%}

<script type="text/javascript" src="{%static 'js/reg.js'%}"></script>
{%endblock script%}
