{%extends 'base.html'%}
{%load static%}
{%load crispy_forms_tags%}
{%block title%}
    Register - Login
{%endblock title%}


{%block link%} 
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{%static 'css/reg_log.css'%}" />
{%endblock link%}





{%block maincontent%}

{%block content%}

<div class="container">
	<header>
		<h1>
			<a href="{%url 'base'%}">
				<img src="{%static 'images/demo-store-logo-1626677799.png'%}" alt="Logis Cargo">
			</a>
		</h1>
	</header>
	<h1 class="text-center">Register</h1>
	{% for message in messages %}
	<div class="ui {{message.tags}} message">
   	 	{{message}}
		{{feil}}
	</div>
	{% endfor %}
	<form class="registration-form" method="POST">
        {%csrf_token%}
		<label>
			<span class="label-text">Image</span>
			{{form2.picture}}
		</label>
		<label>
			<span class="label-text">Nickname(must be unique)</span>
			{{form.username}}
		</label>
		<label>
			<span class="label-text">First name and Last name</span>
			{{form.last_name}}
		</label>
		<label>
			<span class="label-text">Email</span>
			{{form.email}}
		</label>
		<label>
			<span class="label-text">Password</span>
			{{form.password1}}
		</label>
		<label>
			<span class="label-text">Сonfirm password</span>
			{{form.password2}}
		</label>
		<div class="text-center">
			<button class="submit"  type="submit" name="register">Sign Me In</button>
		</div>
	</form>
	<span class="label-text"><a href="{%url 'login'%}">Sign in</a></span>
</div>


{%endblock content%}

{%endblock maincontent%}

{%block script%}

<script type="text/javascript" src="{%static 'js/reg.js'%}"></script>
{%endblock script%}
