{%extends 'base.html'%}
{%load static%}

{%block title%}
    Password
{%endblock title%}


{%block link%} 

<link rel="stylesheet" href="{%static 'css/profile.css'%}" />

{%endblock link%}


{%block content%}


<div class="profile-block mb-3 w">
    {% for message in messages %}
	<div class="ui {{message.tags}} message">
   	 	{{message}}
	</div>
	{% endfor %}
    <form action="{%url 'reset_password' user.id%}" method="POST"  >
        {%csrf_token%}
		
			<h5 class="prf-text-1 mb-2 w "><strong>Password</strong></h5>
            <h3 class="prf-text-1 mb-2 w "><strong>VERY IMPORTANT - remember the password, otherwise you will not be able to log into your account</strong></h3>
            <br>
            <input type="password" name="password2">
            <br>
		
		<div class="text-center">
			<br>
			<button class="custom-btn btn-3"><span>Reset Password</span></button>
		</div>
	</form>
</div>




{%endblock content%}


{%block script%}

{%endblock script%}
