{%extends 'base.html'%}
{%load static%}
{% load i18n %}
{%block title%}
    {% trans "Password" %}
{%endblock title%}


{%block link%} 
<link rel="stylesheet" href="{%static 'css/profile.css'%}" />
{%endblock link%} 


{%block header%}
{% for message in messages %}
<div class="ui {{message.tags}} message">
		{{message}}
</div>
{% endfor %}
<form action="{%url 'reset_password' user.id%}" method="POST">
	{%csrf_token%}
	
		<h1 class="avatar-text "> {% trans "Password" %}</h1>
		<br>
		<div class="group">      
			<input class="inp" type="password" name="password2">
		  </div>
		<br>
	

		<br>
		<button class="btn-prf-up"  type="submit" name="POST">{% trans "Reset Password" %}</button>

</form>
{%endblock header%}
{%block content%}






{%endblock content%}


{%block script%}

{%endblock script%}

