{%extends 'base.html'%}
{%load static%}
{% load i18n %}
{%block title%}
    Profile - {{user}}
{%endblock title%}


{%block link%} 
<link rel="stylesheet" href="{%static 'css/profile.css'%}" />

{%endblock link%}
{%block baner%}
<div class="banner-2" id="banner">
{%endblock baner%}

{%block header%}
<div class="content">
    <img class ="round mb-3" src="{{ profile.picture.url }}" alt="Logis Cargo - Furniture Store">
  <h2 class="avatar-text mb-3">{% trans "Your nickname:" %} {{user.username}}</h2>
  <h2 class="avatar-text mb-3">{% trans "Your code of company:" %} {{profile.code}}</h2>

  {%if profile.check_code_fail == True%}
  <h2 class="avatar-text mb-3">{% trans "Verification" %} - <span class="badge">{% trans "failed" %}</span></h2>
  {%elif profile.check_code == True%}
  <h2 class="avatar-text mb-3">{% trans "Verification" %} - <span class="badge-g">{% trans "passed" %}</span></h2>
  <h2 class="avatar-text-2 mb-3">{% trans "Сheck date" %} - {{profile.date_created}}</h2>

  {%elif profile.for_checking == True%}
  <h2 class="avatar-text mb-3">{% trans "Verification" %} - <span class="badge-w">{% trans "for review (may take some time)" %}</span></h2>
  {%endif%}
  {%if user == request.user%}
  <button id="myBtn" class="btn-prf">{% trans "Setting" %}</button>
  {%endif%}
  <div id="mypopup" class="popup" >

    <div class="popup-content">
        <div class="popup-header">
            <h2 class="avatar-text-2">{% trans "Setting" %}</h2>
            <span class="close">&times;</span>
        </div>
        <div class="popup-body">
            <h3 class="avatar-text-3 mb-3">{% trans " In the settings you can enter the company code or change the password, also if you have passed the verification you can create a product for sale" %}</h3>
            {%if profile.for_checking == False and profile.check_code == False%}
            <p class="prf-text-3">{% trans "Before you click on the button, please enter the company code (without it you will not receive a promotion)" %}</p>
            <br>
            <a href="{%url 'cheking' user.id%}"><button class="btn-prf-up  mb-3">{% trans "Start Verification" %}</button></a>
            <br>
            {%elif profile.check_code == True%}
            
            {%endif%}
            <a href="{%url 'code' user.id%}"><button class="btn-prf-up  mb-3">{% trans "Change code" %}</button></a>
            <br>
            {%if profile.check_code == True%}
            <a href="{%url 'create_product' user.id%}"><button class="btn-prf-up  mb-3">{% trans "Create product" %}</button></a>
            <br>
            <a href="{%url 'create_product_lg' user.id%}"><button class="btn-prf-up  mb-3">{% trans "Create Legal service" %}</button></a>
            <br>
            {%endif%}
            <a href="{%url 'reset_password' user.id%}"><button class="btn-prf-up mb-3">{% trans "Edit password" %}</button></a>
            <br>
        </div>
    </div>
</div>
{%endblock header%}

{%block content%}
<br>
<br>
<div class="centre-text">
    <a href="{%url 'profile_detail' user.id%}"><button class="btn-d ">{% trans "Product" %}</button></a>
</div>



{%for p in page_obj%}
<div class="card-p">
   <img class ="img-p" src="{{p.picture.url}}" alt="Avatar" >
   <div class="container-p">
      <h2 class="bff">{{p.title}}</h2> 
      <br>
      
      <p class ="ownf">{% trans "Price:" %} {{p.price}} € {% trans "per item" %}</p> 
      <br>
      <p>{{p.created_date}} </p> 
      <br>
      <a href="{%url 'detail_lg' p.slug%}"><button class="btn ">{% trans "Read More" %}</button></a>
      <br>
   </div>
</div>
{%endfor%}

{%if page_obj.has_other_pages%}
<div class="centre-text">
    <div class="pagination">
        {%if page_obj.has_previous%}
        <a class="pa" href="?page={{page_obj.previous_page_number}}">«</a>
        {%endif%}
        {%for p in page_obj.paginator.page_range%}


        {%if page_obj.number == p%}
        <a class="pa active" href="?page={{p}}" >{{p}}</a>
        {%elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2  %}
        <a class="pa" href="?page={{p}}" >{{p}}</a>
        {%endif%}
        {%endfor%}
        {%if page_obj.has_next%}
        <a class="pa" href="?page={{page_obj.next_page_number}}">»</a>
        {%endif%}
    </div>

</div>
{%endif%}

{%endblock content%}

{%block script%}
<script type="text/javascript" src="{% static "js/profile.js" %}">
   
</script>
 {%endblock script%}




</div>